<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
    <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">Event Registration Form</h2>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-row m-b-55">

                        <div class="value">
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text" placeholder="Ism" name="first_name">

                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text" placeholder="Familiya"
                                            name="last_name">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row m-b-55">

                        <div class="value">
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text" placeholder="Sharif" name="sharif">

                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="tel" placeholder="Telefon:" name="tel">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                        <div class="form-row m-b-55">

                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" placeholder="Sharif" name="sharif">
    
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="tel" placeholder="Xonadon" name="tel">
    
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group-desc">
                                    <input style="margin-top: 40px;" class="input--style-5" type="tel" placeholder="Telefon:" name="tel">
        
                                </div>
                        </div>
                     
                        </div>

                    <div>
                        <button style="margin-left: 110px;"  class="btn btn--radius-2 btn--red" type="submit">Ro'yhatdan o'tish</button>
                    
                    </div>
                    <div>                
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>