.card-body h2{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.txt1 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 600;

}
