<div class="container">
    <h4 class="txt1">Tadbirkorlik subyektlari</h4>
    <div class="row">

        <div class="col-12 col-md-4">


            <div class="card text-center mt-5">
                
                <div class="card-body">
                    <img src="" alt="foto">
                    <h2>Mini market</h2>
                    <button class="btn btn-primary">Batafsil</button>
                </div>
            </div>


        </div>

        <div class="col-12 col-md-4">


            <div class="card text-center mt-5">
                <div class="card-body">
                    <img src="" alt="foto">
                    <h2>Avto moyka</h2>
                    <button class="btn btn-primary">Batafsil</button>
                </div>
            </div>


        </div>

        <div class="col-12 col-md-4">


            <div class="card text-center mt-5">
                <div class="card-body">

                <img src="" alt="foto">
                    <h2>Sartaroshxona</h2>
                    <button class="btn btn-primary">Batafsil</button>
                </div>
            </div>



        </div>

        <div class="col-12 col-md-4">


            <div class="card text-center mt-5">
                <div class="card-body">
                      <img src="" alt="foto">
                    <h2>Shirilinklar</h2>
                    <button class="btn btn-primary">Batafsil</button>
                </div>
            </div>


        </div>

        <div class="col-12 col-md-4">


            <div class="card text-center mt-5">
                <div class="card-body">
                        <img src="" alt="foto">
                    <h2>Choyxona</h2>
                    <button class="btn btn-primary">Batafsil</button>
                </div>
            </div>


        </div>

        <div class="col-12 col-md-4">


            <div class="card text-center mt-5">
                <div class="card-body">
                    <img src="" alt="foto">
                        
                    <h2>O'quv markaz</h2>
                    <button class="btn btn-primary">Batafsil</button>
                </div>
            </div>


        </div>

        <div class="col-12 col-md-4">


            <div class="card text-center mt-5">
                <div class="card-body">
                       <img src="" alt="foto">
                    <h2>Kitob do'koni </h2>
                    <button class="btn btn-primary">Batafsil</button>
                </div>
            </div>


        </div>

        <div class="col-12 col-md-4">


            <div class="card text-center mt-5">
                <div class="card-body">
                       <img src="" alt="foto">
                    <h2>Bog'cha</h2>
                    <button class="btn btn-primary">Batafsil</button>
                </div>
            </div>


        </div>



    </div>
</div>