
 .card-body a  {
       
    display: flex;
    justify-content: center;
    align-items: center;
    
    
 }
 .card {
    color: black;
 }

 


 .card-title{

    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.p1 {
    display:flex;
    align-items: center; 
    justify-content: center; 
    padding: 10px; 
    color: blue;
    font-weight: 700;
    font-family: sans-serif;
   
   }