<!-- 
<div class="container">
      <select class="form-select mt-5" aria-label="Default select example">
        <option selected>Tashkilotni tanlang</option>
        <option value="1">Xalq ta'limi</option>
        <option value="2">Davlat soliq qo'mitasi</option>
        <option value="3">Viloyat gaz ta'minoti</option>
        <option value="3">Viloyat IIB</option>
        <option value="3">Viloyat Energitika</option>
        <option value="3">Istemolchilar Huquqlari</option>
      </select>
</div> -->

<br><br>
<form [formGroup]='createForm' (ngSubmit)="save()">
    <div class="col-12">
        <mat-form-field appearance="fill" class="tashkilot">
            <mat-label>Tashkilotni tanlang</mat-label>
            <mat-select disableRipple formControlName="tashkilot">
                <mat-option [value]='tashkilotlar' *ngFor="let l of tashkilotlar">{{l?.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="card">

            <div class="card-body">
                <h5 class="card-title">Ariza mazmuni</h5>

                <div class="form-group">
                    <input formControlName="title" matInput class="title"> <br>
                    <label for="exampleFormControlTextarea1">Ariza</label>
                    <textarea placeholder="Ariza yozish uchun joy....." formControlName="text" class="form-control"
                        id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
        </div>

    </div>

    <div class="col-12">
        <div style="margin: 10px;">
            <label for="formFileLg" class="form-label">Arizaga ilova sifatida fayl yuklash</label>
            <input class="form-control form-control-lg" id="formFileLg" type="file">
            <label for="formFileLg" class="form-label mt-2">Eslatma:
                fayl hajmi 50mb dan kam bo'lsin</label>
        </div>


 
    </div>
    <button type="submit" class="btn btn-primary mt-5"> Arizani yuborish</button>
</form>