

  
    <!-- <mat-form-field appearance="fill">
        <mat-label>Tashkilotni tanlang</mat-label>
        <mat-select disableRipple >
          
          <mat-option value="2" *ngFor="let l of tashkilotlar">{{l?.name}}</mat-option>
        </mat-select>
      </mat-form-field> -->


<div class="container">
      <select class="form-select mt-5" aria-label="Default select example">
        <option selected>Tashkilotni tanlang</option>
        <option value="1">Xalq ta'limi</option>
        <option value="2">Davlat soliq qo'mitasi</option>
        <option value="3">Viloyat gaz ta'minoti</option>
        <option value="3">Viloyat IIB</option>
        <option value="3">Viloyat Energitika</option>
        <option value="3">Istemolchilar Huquqlari</option>
      </select>
</div>

    <br><br>
<div class="container ">
    <div class="row">
        <div class="col-12">
<div class="card">
    
    <div class="card-body">
      <h5 class="card-title">Ariza</h5>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Ariza mazmuni</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <a href="#" class="btn btn-primary" style="margin: 10px;">Ariza namuna</a>
    </div>
  </div>

</div>

 <div class="col-12">
    <div style="margin: 7px;">
        <label for="formFileLg" class="form-label">Arizaga ilova sifatida fayl yuklash</label>
        <input class="form-control form-control-lg" id="formFileLg" type="file">
        <label for="formFileLg" class="form-label mt-2">Eslatma:
             fayl hajmi 50mb dan kam bo'lsin</label>
      </div>


      
    
    </div> 
    <button class="btn btn-primary mt-5"> Arizani yuborish</button>
</div>
</div>
