



    <div class="col">
        <div class="counter">
            <!-- <i class="fa fa-code fa-2x"></i> -->
            <h2 class="timer count-title count-number" data-to="100" data-speed="1500"></h2>
            <p class="count-text ">Mahalla....</p>
        </div>


        <div style="background-color: azure;">
            <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
            <div class="container">
                <div class="row">


                    <div class="col-6 col-md-3 mt-5">
                        <a class="text-decoration-none" routerLink="/user/ariza">
                            <div class="card-counter primary">
                                <h3 >Ariza yuborish</h3>
                            </div>
                        </a>
                    </div>


                    <div class="col-6 col-md-3 mt-5">
                        <a class="text-decoration-none" routerLink="/user/tadbirkor">
                            <div class="card-counter primary">
                                <h3>Tadbirkorlik</h3>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-md-3 mt-5">
                        <a class="text-decoration-none" routerLink="/user/mahalla">
                            <div class="card-counter primary">
                                <h3 >Mahalla mutasaddilari</h3>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-md-3 mt-5">
                        <a class="text-decoration-none" routerLink="/user/viloyat">
                            <div class="card-counter primary">
                                <h3>Viloyat tashkilot</h3>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-md-3 mt-5">
                        <a class="text-decoration-none" routerLink="/user/havola">
                            <div class="card-counter primary">
                                <h3>Foydali havola</h3>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-md-3 mt-5">
                        <a class="text-decoration-none" routerLink="/user/kutubxona">
                            <div class="card-counter primary">
                                <h3>Kutubxona</h3>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-md-3 mt-5 ">
                        <a class="text-decoration-none" routerLink="/user/subyekt">
                            <div class="card-counter primary">
                                <h3>Tadbirkorlik subyektlari</h3>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-md-3 mt-5">
                        <a class="text-decoration-none" routerLink="/user/taminot">
                            <div class="card-counter primary">
                                <h3>Ta'minotchi</h3>
                            </div>
                        </a>
                    </div>






                </div>

            </div>
        </div>