

   <div class="container">

    <div class="row">

 <div class="col-12 col-md-12">

  <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
   <div class="carousel-inner">
     <div class="carousel-item active" data-interval="10000">

       
          <div class="card" >
         <img src="https://qashqadaryo.uz/images/slide/slide1.jpg" class="card-img-top" alt="https://qashqadaryo.uz/images/slide/slide1.jpg">
         <div class="card-body">
           <h5 class="card-title">Mahalla yangiliklari</h5>
           <p class="card-text">Mahallada bog'cha qurib beriladigan bo'ldi 2030 yilda.</p>
           <a href="#" class="btn btn-primary">Batafsil</a>
         </div>
       </div>
     </div>
     <div class="carousel-item" data-interval="2000">
       <div class="card" >
         <img src="https://qashqadaryo.uz/images/slide/slide1.jpg" class="card-img-top" alt="https://qashqadaryo.uz/images/slide/slide1.jpg">
         <div class="card-body">
           <h5 class="card-title">Mahalla yangiliklari</h5>
           <p class="card-text">Mahallada bog'cha qurib beriladigan bo'ldi 2032 yilda rejaga kiritilgan.</p>
           <a href="#" class="btn btn-primary">Batafsil</a>
         </div>
       </div>
     </div>
     <div class="carousel-item">
          <div class="card">
         <img src="https://qashqadaryo.uz/images/slide/slide1.jpg" class="card-img-top" alt="https://qashqadaryo.uz/images/slide/slide1.jpg">
         <div class="card-body">
           <h5 class="card-title">Mahalla yangiliklari</h5>
           <p class="card-text">Mahallada bog'cha qurib beriladigan bo'ldi 2030 yilda.</p>
           <a href="#" class="btn btn-primary">Batafsil</a>
         </div>
       </div>
     </div>
   </div>
   <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
     <span class="sr-only">Previous</span>
   </a>
   <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
     <span class="carousel-control-next-icon" aria-hidden="true"></span>
     <span class="sr-only">Next</span>
   </a>
 </div>

</div>


</div>
</div>

    <div class="col">
        


        <div style="background-color: azure;">
            <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
            <div class="container">
                <div class="row">


                    <div class="col-6 col-md-3 mt-5">
                        <a class="text-decoration-none" routerLink="/user/ariza">
                            <div class="card-counter primary">
                                <h3 >Ariza yuborish</h3>
                            </div>
                        </a>
                    </div>


                    <div class="col-6 col-md-3 mt-5">
                        <a class="text-decoration-none" routerLink="/user/tadbirkor">
                            <div class="card-counter secondary">
                                <h3 style="color: black;">Tadbirkorlik</h3>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-md-3 mt-5">
                        <a class="text-decoration-none" routerLink="/user/mahalla">
                            <div class="card-counter success">
                                <h3 >Mahalla mutasaddilari</h3>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-md-3 mt-5">
                        <a class="text-decoration-none" routerLink="/user/viloyat">
                            <div class="card-counter danger">
                                <h3>Viloyat tashkilot</h3>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-md-3 mt-5">
                        <a class="text-decoration-none" routerLink="/user/havola">
                            <div class="card-counter primary">
                                <h3>Foydali havola</h3>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-md-3 mt-5">
                        <a class="text-decoration-none" routerLink="/user/kutubxona">
                            <div class="card-counter success">
                                <h3>Kutubxona</h3>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-md-3 mt-5 ">
                        <a class="text-decoration-none" routerLink="/user/subyekt">
                            <div class="card-counter primary">
                                <h3>Tadbirkorlik subyektlari</h3>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-md-3 mt-5">
                        <a class="text-decoration-none" routerLink="/user/taminot">
                            <div class="card-counter primary">
                                <h3>Ta'minotchi</h3>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>