 


<div class="container">
    <h2>TADBIRKORLIK</h2>

<div class="row">
<!-- <div class="col-12 col-md-4">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text"><i class="fa fa-rocket" aria-hidden="true"></i></p>
      <p>Tadbirkorlik faoliyatini boshlash va yuritish</p>
    </div>
  </div>
</div>
<div class="col-12 col-md-4">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text"><i class="fa fa-rocket" aria-hidden="true"></i></p>
      <p>Bisnes va g'oya</p>
    </div>
  </div>
</div><div class="col-12 col-md-4">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text"><i class="fa fa-rocket" aria-hidden="true"></i></p>
      <p>Tadbirkorlik faoliyatini boshlash va yuritish</p>
    </div>
  </div>
</div> -->



<div class="our-services">
  <div class="container">
      <div class="row">
          <div class="col-12">
              
              <hr>
          </div>
      </div>

      <div class="row">
          <div class="col-md-4 col-sm-6">
              <div class="service-box">
                  <div class="icon">
                      <i class="fa fa-rocket"></i>
                  </div>
                  
                  <div class="short-description">
                      <p>Tadbirkorlik faoliyatini boshlash va yuritish</p>
                  </div>
              </div>
          </div>

          <div class="col-md-4 col-sm-6">
              <div class="service-box">
                  <div class="icon">
                      <i class="fa fa-handshake-o"></i>
                  </div>
                  
                  <div class="short-description">
                      <p>Biznes g'oyalar</p>
                  </div>
              </div>
          </div>

          <div class="col-md-4 col-sm-6">
              <div class="service-box">
                  <div class="icon">
                      <i class="fa fa-address-card-o"></i>
                  </div>
                  
                  <div class="short-description">
                      <p>Biznes reja Na'munalari</p>
                  </div>
              </div>
          </div>

          <div class="col-md-4 col-sm-6">
              <div class="service-box">
                  <div class="icon">
                      <i class="fa fa-dollar"></i>
                  </div>
                  
                  <div class="short-description">
                      <p>Kredit haqida</p>
                  </div>
              </div>
          </div>

          <div class="col-md-4 col-sm-6">
              <div class="service-box">
                  <div class="icon">
                      <i class="fa fa-gavel"></i>
                  </div>
                  
                  <div class="short-description">
                      <p>Tadbirkor huquqlari</p>
                  </div>
              </div>
          </div>

          <div class="col-md-4 col-sm-6">
              <div class="service-box">
                  <div class="icon">
                      <i class="fa fa-calculator"></i>
                  </div>
                
                  <div class="short-description">
                      <p>Kredit kalkulyator</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>




</div>
</div>