<div class="feature">
    <div class="container-fluid">
        <div class="row align-items-center">

            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-rocket"></i>
                    <h2>Tadbirkorlik faoliyatini boshlash va yuritish</h2>
                    <p style="cursor: pointer;" data-toggle="modal" data-target="#exampleModalLong">
                        Batafsil
                    </p>
                </div>
            </div>




            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLongTitle" aria-hidden="true">

                <div class="modal-dialog" role="document">

                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">havola</h5>
                            <button type="button" class="close btn btn-primary" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div id="layoutSidenav_content">
                                <main>
                                    <div class="container-fluid px-4">


                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                <div class="card bg-primary text-white mb-4">
                                                    <div class="card-body">Tadbirkorlik to'grisidagi qonunlar</div>
                                                    <div
                                                        class="card-footer d-flex align-items-center justify-content-between">
                                                        <a style="text-decoration: none;" class="small text-white stretched-link"
                                                            href="https://lex.uz/uz/classifiers/6801">Batafsil</a>
                                                        <div class="small text-white"><i class="fas fa-angle-right"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="card bg-warning text-white mb-4">
                                                    <div class="card-body">Tadbirkorlik uchun onlayn konsultant</div>
                                                    <div
                                                        class="card-footer d-flex align-items-center justify-content-between">
                                                        <a style="text-decoration: none;" class="small text-white stretched-link"
                                                            href="http://b-advice.uz/">Batafsil</a>
                                                        <div class="small text-white"><i class="fas fa-angle-right"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="card bg-success text-white mb-4">
                                                    <div class="card-body">Tadbirkorlik portali</div>
                                                    <div
                                                        class="card-footer d-flex align-items-center justify-content-between">
                                                        <a style="text-decoration: none;" class="small text-white stretched-link"
                                                            href="https://businessinfo.uz/?lang=uz">Batafsil</a>
                                                        <div class="small text-white"><i class="fas fa-angle-right"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="card bg-danger text-white mb-4">
                                                    <div class="card-body">E-auksion</div>
                                                    <div
                                                        class="card-footer d-flex align-items-center justify-content-between">
                                                        <a style="text-decoration: none;" class="small text-white stretched-link"
                                                            href="https://e-auksion.uz/home?1">Batafsil</a>
                                                        <div class="small text-white"><i class="fas fa-angle-right"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-12 col-md-6">
                                                <div class="card bg-primary text-white mb-4">
                                                    <div class="card-body">Savdo-sanoat palatasi</div>
                                                    <div
                                                        class="card-footer d-flex align-items-center justify-content-between">
                                                        <a style="text-decoration: none;" class="small text-white stretched-link"
                                                            href="https://chamber.uz/uz/index">Yozish</a>
                                                        <div class="small text-white"><i class="fas fa-angle-right"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-12 col-md-6">
                                                <div class="card bg-warning text-white mb-4">
                                                    <div class="card-body">Tadbirkorlikni boshlash</div>
                                                    <div
                                                        class="card-footer d-flex align-items-center justify-content-between">
                                                        <a style="text-decoration: none;" class="small text-white stretched-link"
                                                            href="http://b-advice.uz/">Batafsil</a>
                                                        <div class="small text-white"><i class="fas fa-angle-right"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </main>

                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-lightbulb"></i>
                    <h2> Bisnes reja namunalari</h2>
                    <p style="cursor: pointer;  " data-toggle="modal" data-target="#exampleModal">
                        Batafsil
                    </p>
                </div>
            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close btn btn-primary" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div id="layoutSidenav_content">
                                <main>
                                    <div class="container-fluid px-4">


                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                <div class="card bg-primary text-white mb-4">
                                                    <div class="card-body"> namunalar to'plami 1</div>
                                                    <div
                                                        class="card-footer d-flex align-items-center justify-content-between">
                                                        <a style="text-decoration: none;" class="small text-white stretched-link"
                                                            href="https://aim.uz/predprinimatelstvo/biznes-plany.html">Batafsil</a>
                                                        <div class="small text-white"><i class="fas fa-angle-right"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="card bg-warning text-white mb-4">
                                                    <div class="card-body">namunalar to'plami 2</div>
                                                    <div
                                                        class="card-footer d-flex align-items-center justify-content-between">
                                                        <a style="text-decoration: none;" class="small text-white stretched-link"
                                                            href="https://mikrokreditbank.uz/corporate/biznes-reja/">Batafsil</a>
                                                        <div class="small text-white"><i class="fas fa-angle-right"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="card bg-success text-white mb-4">
                                                    <div class="card-body">namunalar to'plami 3</div>
                                                    <div
                                                        class="card-footer d-flex align-items-center justify-content-between">
                                                        <a style="text-decoration: none;" class="small text-white stretched-link"
                                                            href="https://chamber.uz/uz/page/5613">Batafsil</a>
                                                        <div class="small text-white"><i class="fas fa-angle-right"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="card bg-danger text-white mb-4">
                                                    <div class="card-body">Telegram kanal</div>
                                                    <div
                                                        class="card-footer d-flex align-items-center justify-content-between">
                                                        <a style="text-decoration: none;" class="small text-white stretched-link"
                                                            href="https://t.me/uzbiznesss">Batafsil</a>
                                                        <div class="small text-white"><i class="fas fa-angle-right"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </main>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>

                        </div>
                    </div>
                </div>
            </div>







            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-money-check"></i>
                    <h2>Tadbirkorlik huqulari</h2>
                    <p style="cursor: pointer;" data-toggle="modal" data-target="#exampleModalCenter">
                        Batafsil
                    </p>
                </div>
            </div>




            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">havola</h5>
                            <button type="button" class="close btn btn-primary" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div id="layoutSidenav_content">
                                <main>
                                    <div class="container-fluid px-4">


                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                <div class="card bg-primary text-white mb-4">
                                                    <div class="card-body"> Huquqlarni himoya qilish bo'yicha vakil
                                                    </div>
                                                    <div
                                                        class="card-footer d-flex align-items-center justify-content-between">
                                                        <a style="text-decoration: none;" class="small text-white stretched-link"
                                                            href="https://biznesvakil.uz/uz/">Batafsil</a>
                                                        <div class="small text-white"><i class="fas fa-angle-right"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="card bg-warning text-white mb-4">
                                                    <div class="card-body">Vakillik vazifalari</div>
                                                    <div
                                                        class="card-footer d-flex align-items-center justify-content-between">
                                                        <a style="text-decoration: none;" class="small text-white stretched-link"
                                                            href="https://biznesvakil.uz/uz/menu/directions/">Batafsil</a>
                                                        <div class="small text-white"><i class="fas fa-angle-right"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="card bg-success text-white mb-4">
                                                    <div class="card-body">Murojaat qilish tartibi</div>
                                                    <div
                                                        class="card-footer d-flex align-items-center justify-content-between">
                                                        <a style="text-decoration: none;"  class="small text-white stretched-link"
                                                            href="https://biznesvakil.uz/uz/menu/Order/">Batafsil</a>
                                                        <div class="small text-white"><i class="fas fa-angle-right"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-12 col-md-6">
                                                <div class="card bg-danger text-white mb-4">
                                                    <div class="card-body">Vakillik ishonch raqamlari</div>
                                                    <div
                                                        class="card-footer d-flex align-items-center justify-content-between">
                                                        <a style="text-decoration: none;" class="small text-white stretched-link"
                                                            href="https://biznesvakil.uz/uz/menu/Helplines/">Batafsil</a>
                                                        <div class="small text-white"><i class="fas fa-angle-right"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </main>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
                        </div>
                    </div>
                </div>
            </div>






































            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-comments"></i>
                    <h2>Bank va kredit haqida</h2>
                    <p style="cursor: pointer;" data-toggle="modal" data-target=".bd-example-modal-lg">
                        Batafsil
                    </p>
                </div>
            </div>






            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">havola</h5>
                            <button type="button" class="close btn btn-primary" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div id="layoutSidenav_content">
                                <main>
                                    <div class="container-fluid px-4">


                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                <div class="card bg-primary text-white mb-4">
                                                    <div class="card-body"> Bank.uz</div>
                                                    <div
                                                        class="card-footer d-flex align-items-center justify-content-between">
                                                        <a style="text-decoration: none;" class="small text-white stretched-link"
                                                            href="https://bank.uz">Batafsil</a>
                                                        <div class="small text-white"><i class="fas fa-angle-right"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="card bg-warning text-white mb-4">
                                                    <div class="card-body">Banklar reytingi</div>
                                                    <div
                                                        class="card-footer d-flex align-items-center justify-content-between">
                                                        <a  style="text-decoration: none;" class="small text-white stretched-link"
                                                            href="https://bank.uz/uz/news/o-zbekistondagi-banklarning-qo-llab-quvvatlash-xizmatlari-reytingi">Batafsil</a>
                                                        <div class="small text-white"><i class="fas fa-angle-right"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="card bg-success text-white mb-4">
                                                    <div class="card-body">Iste'molchi kreditlari</div>
                                                    <div
                                                        class="card-footer d-flex align-items-center justify-content-between">
                                                        <a style="text-decoration: none;" class="small text-white stretched-link"
                                                            href="https://bank.uz/uz/credits/potrebitelskiy-kredit">Batafsil</a>
                                                        <div class="small text-white"><i class="fas fa-angle-right"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-12 col-md-6">
                                                <div class="card bg-danger text-white mb-4">
                                                    <div class="card-body">Ipoteka kreditlari</div>
                                                    <div
                                                        class="card-footer d-flex align-items-center justify-content-between">
                                                        <a style="text-decoration: none;" class="small text-white stretched-link"
                                                            href="https://bank.uz/uz/ipoteka">Batafsil</a>
                                                        <div class="small text-white"><i class="fas fa-angle-right"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-6">
                                                <div class="card bg-danger text-white mb-4">
                                                    <div class="card-body">Ta'lim kreditlari</div>
                                                    <div
                                                        class="card-footer d-flex align-items-center justify-content-between">
                                                        <a style="text-decoration: none;" class="small text-white stretched-link"
                                                            href="https://bank.uz/uz/credits/obrazovatelnyy-kredit">Batafsil</a>
                                                        <div class="small text-white"><i class="fas fa-angle-right"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-12 col-md-6">
                                                <div class="card bg-danger text-white mb-4">
                                                    <div class="card-body">Kredit kalkulator</div>
                                                    <div
                                                        class="card-footer d-flex align-items-center justify-content-between">
                                                        <a style="text-decoration: none;" class="small text-white stretched-link"
                                                            href="https://finlit.uz/uz/services/calculators/">Batafsil</a>
                                                        <div class="small text-white"><i class="fas fa-angle-right"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </main>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
                        </div>
                    </div>
                </div>
            </div>





        </div>
    </div>
</div>