<main class="">
    <div class="top">
        <div class="img">
          <a href="https://imgbb.com/"><img src="https://i.ibb.co/tbSR7Ch/hero.png" alt="hero" border="0"></a>
        </div>
        <div class="info">
            <h2>Shaxsiy ma'lumotlar</h2>
            <p>
                <strong>Ismi: </strong>Sardor <br>
                <strong>Tugilgan yili: </strong>04.04.2003 <br>
                <strong>Foydalanvchi: </strong>Haydarov Sardor <br>
            </p>
        </div>
  
    </div>
    <div class="bottom">
        <!-- <div class="left">
            
            <p>
            </p>
            <h1>Education</h1>
            <strong>BS Computer Science</strong>
            <p>University of OEB</p>
            <strong>BS Managment</strong>
            <p>University of OEB</p>
        </div> -->
  
        <div class="container">
            
            <form>
              <h3>Ma'lumotlarni tahrirlash</h3>
              <div class="row">
                <div class="col-12 col-md-12">
                  <div class="form-group">
                    <label for="first">Ism</label>
                    <input type="text" class="form-control" placeholder="Ism" id="Ism"><br>
                  </div>
                </div>
                <!--  col-md-6   -->
          
                <div class="col-12 col-md-12">
                  <div class="form-group">
                    <label for="last">Familiya</label>
                    <input type="text" class="form-control" placeholder="Familiiya" id="last"><br>
                  </div>
                </div>
                <!--  col-md-6   -->
              </div>
          
          
              <div class="row">
                <div class=" col-12 col-md-12">


                  <div class="form-group">
                    <label for="old">eski parol</label>
                    <input type="password" class="form-control" placeholder="Qayta kiriting" id="old"><br>
                  </div>
          
          
                </div>
                <!--  col-md-6   -->
          
                <div class=" col-12 col-md-6">
          
                  <div class="form-group">
                    <label for="phone">Yangi parol</label>
                    <input type="password" class="form-control" id="phone" placeholder="Yangi parol"><br>
                  </div>
                </div>
             
              </div>
              
          
          
              <div class="row">
                <div class=" col-12 col-md-6">
          
                  <div class="form-group">
                    <label for="email">Yangi parolni qayta kiriting</label>
                    <input type="email" class="form-control" id="email" placeholder="Conferm parol"><br>
                  </div>
                </div>
           
             
              </div>
           
              <button type="submit" class="btn btn-primary">Tahrirlash</button>
            </form>
          </div>
    </div>
  </main>