.example-card1 {
    max-width: 400px;
    height: 350px;
}
.example-card2 {
    height: 350px;
}

.txt1 {
    display: flex;
    text-align: center;
    justify-content: center;
}

#tag {
    margin: 30px;
}
