<!-- <div class="container">
    <div class="row">
        <h3 class="txt1">Ariza</h3>
        <div class="col-6">
            <mat-card class="example-card2">
                <mat-card-header>
                    <p id="tag1">Ariza mazmuni</p>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        <textarea name="" id="" cols="40" rows="10"></textarea>
                    </p>           
                </mat-card-content>
                <button mat-raised-button color="primary" mat-button>Ariza namuna</button>   
                <mat-card-actions>          
                </mat-card-actions>    
            </mat-card>
            
        </div>

        <div class="col-6">
            <mat-card class="example-card1">
                <mat-card-header>
                     <mat-icon class="iconw">add_to_photos</mat-icon>   
                    <br>
                    
                </mat-card-header>

                <mat-card-content>
                    <p>
                        <input #csvInput hidden="true" type="file" onclick="this.value=null"
                            (change)="csvInputChange($event)" />
                        <button mat-flat-button color="primary" (click)="csvInput.click()">Arizaga ilova sifatida fayl yuklash       
                        </button><br>    <br>         
                        Eslatma:
                        Fayl hajmi 50mb dan kam bo'lsin <br>
                        
                    </p>
                </mat-card-content>

                <mat-card-actions>
                    <button mat-button></button>
                    <button mat-button></button>
                </mat-card-actions>

            </mat-card>
        </div>
        
    </div>
    <button class="mt-3" mat-raised-button color="primary">Arizani yuborish</button>
</div> -->




<br><br>
<form [formGroup]='createForm' (ngSubmit)="save()">
    <div class="col-12">
       
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ariza mazmuni</h5>

                <div class="form-group">
                    <input formControlName="title" matInput class="title"> <br>
                    <label for="exampleFormControlTextarea1">Ariza</label>
                    <textarea placeholder="Ariza yozish uchun joy....." formControlName="text" class="form-control"
                        id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
        </div>

    </div>

    <div class="col-12">
        <div style="margin: 10px;">
            <label for="formFileLg" class="form-label">Arizaga ilova sifatida fayl yuklash</label>
            <input required #inputFile class="form-control form-control-lg" id="formFileLg" type="file">
            <label for="formFileLg" class="form-label mt-2">Eslatma:
                fayl hajmi 50mb dan kam bo'lsin</label>
        </div>



    </div>
    <button type="submit" class="btn btn-primary mt-5"> Arizani yuborish</button>
</form>
