
	<!-- <link rel="icon" type="image/png" href="images/icons/favicon.ico"/> -->
        
  
      


    <form [formGroup]='loginForm' (ngSubmit)="onLogin()">

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form class="login100-form validate-form flex-sb flex-w">
                <span class="login100-form-title p-b-51">
                    Kirish
                </span>

                
                <div [formGroup]='loginForm' class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">
                    <input class="input100" type="text" formControlName='login' name="login" placeholder="Login">
                    <span class="focus-input100"></span>
                </div>
                
                
                <div [formGroup]='loginForm' class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
                    <input  class="input100" type="password" formControlName='parol' name="password" placeholder="Parol">
                    <span class="focus-input100"></span>
                </div>


                <div class="container-login100-form-btn m-t-30">
                    <button style="height: 40px; " class="login100-form-btn">
                        Kirish
                    </button>
                </div>
                
                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div class="contact100-form-checkbox">
                        
                        <label >
                            <button  routerLink="/register" style=" height: 40px;" class="login100-form-btn m-t-30">Ro'yhatdan o'tish</button>
                        </label>
                    </div>

                    <label >
                        <button  routerLink="/register" style=" height: 40px;" class="login100-form-btn m-t-30">Parolni qayta tiklash!</button>
                    </label>
                </div>

               

            </form>
        </div>
    </div>
</div>



</form>