<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html>
  <head>
    <title>Awesome Search Box</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
       
          <input class="search_input" type="text" name="" placeholder="Search...">
          <a class="search_icon"><i class="fas fa-search"></i></a>

        </div>
      </div>
    </div>
  </body>
</html> -->

<div class="container">
  <h4 class="txt1">Tadbirkorlik subyektlari</h4>
  <div class="row">

      <div class="col-12 col-md-4">


          <div class="card text-center mt-5">
              
              <div class="card-body">
                  <img src="" alt="foto">
                  <h2>Mayda shoxli mollar</h2>
                  <button class="btn btn-primary">Batafsil</button>
              </div>
          </div>


      </div>

      <div class="col-12 col-md-4">


          <div class="card text-center mt-5">
              <div class="card-body">
                  <img src="" alt="foto">
                  <h2>Avto moyka</h2>
                  <button class="btn btn-primary">Batafsil</button>
              </div>
          </div>


      </div>

      <div class="col-12 col-md-4">


          <div class="card text-center mt-5">
              <div class="card-body">

              <img src="" alt="foto">
                  <h2>Parandachilik</h2>
                  <button class="btn btn-primary">Batafsil</button>
              </div>
          </div>



      </div>

      <div class="col-12 col-md-4">


          <div class="card text-center mt-5">
              <div class="card-body">
                    <img src="" alt="foto">
                  <h2>Qora mol yetishtirish</h2>
                  <button class="btn btn-primary">Batafsil</button>
              </div>
          </div>


      </div>

      <div class="col-12 col-md-4">


          <div class="card text-center mt-5">
              <div class="card-body">
                      <img src="" alt="foto">
                  <h2>Asalarichilik</h2>
                  <button class="btn btn-primary">Batafsil</button>
              </div>
          </div>


      </div>

      <div class="col-12 col-md-4">


          <div class="card text-center mt-5">
              <div class="card-body">
                  <img src="" alt="foto">
                      
                  <h2>Tikuv mashinalar yetkazib berish</h2>
                  <button class="btn btn-primary">Batafsil</button>
              </div>
          </div>


      </div>

      <div class="col-12 col-md-4">


          <div class="card text-center mt-5">
              <div class="card-body">
                     <img src="" alt="foto">
                  <h2>Limon ko'chat yetishtirish </h2>
                  <button class="btn btn-primary">Batafsil</button>
              </div>
          </div>


      </div>

    

  </div>
</div>