<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
    <div class="wrapper wrapper--w790">
        <div class="card card-5">

            <div class="card-body">
                <form [formGroup]='registerForm' (ngSubmit)="onRegister()">
                    <div class="form-row m-b-55">

                        <div class="value">
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" formControlName='firstname' type="text"
                                            placeholder="Ism" name="first_name">

                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" formControlName='lastname' type="text"
                                            placeholder="Familiya" name="last_name">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row m-b-55">

                        <div class="value">
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" formControlName='fatherName' type="text"
                                            placeholder="Sharif" name="sharif">

                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" formControlName='username' type="tel"
                                            placeholder="Telefon:" name="tel">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="form-row m-b-55">
                        <div class="value">
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="form-group">

                                        <select formControlName='viloyat' aria-placeholder="Viloyat"
                                        
                                            class="form-select input--style-5" aria-label="Default select example">
                                            
                                            <option   disabled selected [value]="viloyat" *ngFor="let viloyat of viloyalatlar">
                                                {{viloyat?.name}} </option>

                                        </select>

                                    </div>
                                </div>


                                <div class="col-2">
                                    <div class="form-group">

                                        <select formControlName='tuman' aria-placeholder="Tuman"
                                            class="form-select input--style-5 mt-5" aria-label="Default select example">

                                            <option selected [value]='tuman' *ngFor="let tuman of tumanlar">
                                                {{tuman?.name}} Tuman</option>

                                        </select>

                                    </div>
                                </div>

                                <div class="form-group">

                                    <select style="margin-top: 40px;" formControlName='tuman' aria-placeholder="Tuman"
                                        class="form-select input--style-5" aria-label="Default select example">

                                        <option selected [value]='mahallalar' *ngFor="let mahalla of mahallalar">
                                            {{mahalla?.name}} Mahalla</option>

                                    </select>

                                </div>
                            </div>




                            <div style="margin-top: 40px;" class="row row-space ">
                                <div class="col-2">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" formControlName='password' type="text"
                                            placeholder="Parol" name="password">

                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" formControlName='confirmPassword' type="text"
                                            placeholder="Parolni qayta kiriting" name="password">

                                    </div>
                                </div>
                            </div>


                            <button class="btn  btn-info" style="margin-top: 50px; width: 100%;"
                                type="submit">Ro'yhatdan
                                o'tish</button>

                        </div>

                    </div>

                    <div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>