<div class="conatiner">
    <div class="row">
        <div class="row1 ">
<h1>Foydali havola</h1>
</div>
<div class="col-12">
<div class="card" >
    <ul class="list-group list-group-flush">
     <a href="https://my.gov.uz/oz"> <li class="list-group-item">My.gov.uz</li></a>
     <a href="https://statefund.uz/uz/"><li class="list-group-item">Tadbirkor.uz</li></a> 
    <a href="https://lex.uz/uz/"> <li class="list-group-item">lex.uz</li></a> 
    </ul>
  </div>

</div>
 
 
 

        
    


</div>