<section class="pt-50">
   <h2 class="text-center">Tadbirkorlik to'g'risidagi kitoblar</h2>
   <!-- <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p> -->
</section>
<section>
   <div class="container">
      <div class="row">
         
         <div class=" col-12 col-md-3">
            <!-- <img width="200px" height="200px" src="assets/kitoblar/abdulla.jpg" -->

             <!-- class="" alt="book"> -->
            <h6 class="text-center blue-text"><b>Abdulla Oripov</b></h6>

          
         </div>
         <div class="col-12 col-md-3">
            <!-- <img width="200px" height="200px" -->
               <!-- src="assets/kitoblar/abdullaoripov.jpg" -->
               <!-- class="" alt="book"> -->
            <h6 class="text-center blue-text"><b>Abdulla Oripov</b></h6>

          
         </div>
         <div class="col-12 col-md-3">
            <!-- <img width="200px" height="200px"
               src="assets/kitoblar/abdullaqodiriy.jpg" class="" alt="book"> -->
              
               
            <h6 class="text-center blue-text"><b>Shaping Humanity</b></h6>

          
         </div>
      </div>
      <div class="row pt-50 text-center">
         <div class="col-12 col-md-3">
            <!-- <img width="200px" height="200px" src="assets/kitoblar/alishernavoiy.jpg" -->

             <!-- class="w-100 h-100" alt="book"> -->
            <h6 class="text-center blue-text"><b>Abdulla Oripov</b></h6>

          
         </div>
         <div class="col-12 col-md-3">
            <!-- <img -->
               <!-- src="assets/kitoblar/amirtemur.jpg" -->
               <!-- class="" alt="book"> -->
            <h6 class="text-center blue-text"><b>The Gettysburg Address</b></h6>

          
         </div>
         <div class="col-12 col-md-3">
            <!-- <img src="assets/kitoblar/kechavakunduz.jpg" alt=""> -->
            <h6 class="text-center blue-text"><b>Creating Your own Destiny</b></h6>

          
         </div>
         <div class="col-12 col-md-3">
            <!-- <img src="assets/kitoblar/mareteden.jpg" alt=""> -->
            <h6 class="text-center blue-text"><b>Blue Like</b></h6>

          
         </div>
         <div class="col-12 col-md-3">
            <!-- <img src="assets/kitoblar/mixaillermontov.jpg"alt=""> -->
            <h6 class="text-center blue-text"><b>Blue Like</b></h6>

          
         </div>
         <div class="col-12 col-md-3">
            <!-- <img src="assets/kitoblar/MuhammadYusuf.jpg" alt=""> -->
            <h6 class="text-center blue-text"><b>Blue Like</b></h6>

          
         </div>
         <div class="col-12 col-md-3">
            <!-- <img src="assets/kitoblar/oqkema.jpg" alt=""> -->
            <h6 class="text-center blue-text"><b>Blue Like</b></h6>

          
         </div>
           <div class="col-12 col-md-3">
            <!-- <img src="assets/kitoblar/saidaxmad.jpg" alt=""> -->
            <h6 class="text-center blue-text"><b>Blue Like</b></h6>

          
         </div>
         <div class="col-12 col-md-3">
            <!-- <img src="assets/kitoblar/sariqdevniminib.jpg" alt=""> -->
            <h6 class="text-center blue-text"><b>Blue Like</b></h6>

          
         </div>
         <div class="col-12 col-md-3">
            <!-- <img src="assets/kitoblar/saylan.jpg" alt=""> -->
            <h6 class="text-center blue-text"><b>Blue Like</b></h6>

          
         </div>
         <div class="col-12 col-md-3">
            <!-- <img src="assets/kitoblar/shukurxolmirzayev.jpg" alt=""> -->
            <h6 class="text-center blue-text"><b>Blue Like</b></h6>

          
         </div>
         <div class="col-12 col-md-3">
            <!-- <img src="assets/kitoblar/sohilboylab.jpg" alt=""> -->
            <h6 class="text-center blue-text"><b>Blue Like</b></h6>

          
         </div>
      </div>
   </div>
</section>