
    <div class="main">
        <hr>
        <h1 class="txt2">Mahhala mutasaddi tashkilotlar</h1>
        <hr>
        <ul class="cards">
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://picsum.photos/500/300/?image=10"></div>
              <div class="card_content">
                <h2 class="card_title">Mahalla raisi</h2>
                <p class="card_text">Bahriddinov Bahodir</p>
                <button class="btn card_btn">Batafsil</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://picsum.photos/500/300/?image=5"></div>
              <div class="card_content">
                <h2 class="card_title">Mahhala yordamchisi</h2>
                <p class="card_text">Bahriddinov Bahodir</p>
                <button class="btn card_btn">Batafsil</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://picsum.photos/500/300/?image=11"></div>
              <div class="card_content">
                <h2 class="card_title">Yoshlar yetakchisi</h2>
                <p class="card_text">Bahriddinov Bahodir</p>
                <button class="btn card_btn">Batafsil</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://picsum.photos/500/300/?image=14"></div>
              <div class="card_content">
                <h2 class="card_title">Mahhala noziri</h2>
                <p class="card_text">Bahriddinov Bahodir</p>
                <button class="btn card_btn">Batafsil</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://picsum.photos/500/300/?image=17"></div>
              <div class="card_content">
                <h2 class="card_title">Mahalla xotin qizlar raisi</h2>
                <p class="card_text">Bahriddinova Bahora</p>
                <button class="btn card_btn">Batafsil</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://picsum.photos/500/300/?image=2"></div>
              <div class="card_content">
                <h2 class="card_title">Mahalla xotin qizlar raisi</h2>
                <p class="card_text">Bahriddinova Bahora</p>
                <button class="btn card_btn">Batafsil</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      
      <!-- <h3  class="made_by">Made with ♡</h3> -->